.stock-list {
    list-style: none;
    /* display: flex; */
    /* justify-content: left; */
    padding: 0px;
    /* flex-wrap: wrap; */
    /* word-wrap: break-word; */
    /* flex-direction: column; */
}

.stock-details {
    /* display: flex; */
    /* justify-content: center; */
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px #0000001a;
    overflow: hidden;
    /* flex-wrap: wrap; */
    /* flex-basis: 200px; */
	/* flex-grow: 0; */
	/* flex-shrink: 0; */
    /* flex-direction: column; */
    /* word-wrap: break-word; */
    /* overflow-wrap: break-word; */
}

.stock-details p {
    margin: 0px;
}

.stock-details h3 {
    margin: 0px;
    border-bottom: 2px solid #0000001a;
}

.profit {
    color: lime;
    font-weight: bold;
}

.loss {
    color: red;
    font-weight: bold;
}

.equal {
    font-weight: bold;
}